<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>top</title>
	<link rel="stylesheet" href="{$smarty.const.ADMIN_SITE_SOURCE_URL}css/admin.css">
	<script src='{$smarty.const.ADMIN_SITE_SOURCE_URL}js/jquery-1.11.1.js'></script>
	<script src='{$smarty.const.ADMIN_SITE_SOURCE_URL}js/admin.js'></script>
</head>
<body>
	<div class='top_wrap'>
		<div class='top_top'>
			<div class='top_up'>
				<div class='top_up_a'></div>
				<div class='top_up_b'></div>
				<div class='top_up_c'>&nbsp;</div>
				<div class='top_up_d'></div>
			</div>
			<div class='clear'></div>
			<div class='top_mean'></div>
			<div class='top_down'>
				<div class='top_down_a'></div>
				<div class='top_down_b'></div>
				<div class='top_down_c'>&nbsp;</div>
			</div>
		</div>
		<div class='clear'></div>
		<div class='top_foot'>
			<div class='top_foot_a'>
				<span>当前用户：{$smarty.session.username}</span>
			</div>

			<div class='top_foot_b'>
				<ul>
					<li><a href='#'>系统管理</a></li>
					<span>&nbsp;</span>
					<li><a href='#'>系统管理</a></li>
					<span>&nbsp;</span>
					<li><a href='#'>系统管理</a></li>
					<span>&nbsp;</span>
					<li><a href='#'>系统管理</a></li>
					<li><a href='#'>退出登录</a></li>
					
				</ul>
				
			</div>
			<div class='top_foot_c'></div>
		</div>
	</div>
</body>
</html>